.team-information {
  @include breakpoint($bp--medium) {
    @include add-grid(3 2 3);
    @include add-gutter(0);
  }
  color: $c-white;
  font-weight: lighter;

  &__section {
    min-height: 390px;
    position: relative;
  }

  &__team-members {
    background: $c-blue;
    @include breakpoint($bp--medium) {
      @include grid-span(1, 1);
    }

    font-size: $fs--giant;

    &-info {
      @include center($horizontally: true, $vertically: true, $absolute: true, $undo: false);
      width: 216px;
    }

    &-count {
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__team-countries {
    background: $c-red;
    @include breakpoint($bp--medium) {
      @include grid-span(1, 2);
    }


    &-info {
      @include center($horizontally: true, $vertically: true, $absolute: true, $undo: false);
      width: 220px;
    }

    &-count {
      vertical-align: middle;
      display: inline-block;
      .counter {
        font-size: ($fs--l * 2);
      }
    }

    &-icon {
      vertical-align: middle;
      display: inline-block;
      font-size: $fs--giant;
    }
  }

  &__team-events {
    text-align: center;
    background: $c-purple;
    @include breakpoint($bp--medium) {
      @include grid-span(1, 3);
    }

    h3 {
      margin: $spacing--m 0;
    }

    .separator {
      width: 30%;
      border-top: solid 3px white;
      height: 10px;
      display: inline-block;
      margin: 0 $spacing--m;
    }

    &-info {
      @include center($horizontally: true, $vertically: true, $absolute: true, $undo: false);
      width: 235px;
    }

    &-content {
      a {
        @include a-link($link: $c-white, $hover: $c-white, $deco: none, $deco--hover: none)
      }
    }
  }
}
