<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="building">
    <i class="icon--building"></i> icon--building
  </div>
  
  <div class="icons__item" data-name="close">
    <i class="icon--close"></i> icon--close
  </div>
  
  <div class="icons__item" data-name="facebook-stroke">
    <i class="icon--facebook-stroke"></i> icon--facebook-stroke
  </div>
  
  <div class="icons__item" data-name="facebook">
    <i class="icon--facebook"></i> icon--facebook
  </div>
  
  <div class="icons__item" data-name="github-stroke">
    <i class="icon--github-stroke"></i> icon--github-stroke
  </div>
  
  <div class="icons__item" data-name="linkedin">
    <i class="icon--linkedin"></i> icon--linkedin
  </div>
  
  <div class="icons__item" data-name="menu">
    <i class="icon--menu"></i> icon--menu
  </div>
  
  <div class="icons__item" data-name="pin">
    <i class="icon--pin"></i> icon--pin
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
  <div class="icons__item" data-name="share">
    <i class="icon--share"></i> icon--share
  </div>
  
  <div class="icons__item" data-name="team">
    <i class="icon--team"></i> icon--team
  </div>
  
  <div class="icons__item" data-name="twitter-stroke">
    <i class="icon--twitter-stroke"></i> icon--twitter-stroke
  </div>
  
  <div class="icons__item" data-name="twitter">
    <i class="icon--twitter"></i> icon--twitter
  </div>
  
</div>
