<div class="sidebar js-sidebar">
  <div class="sidebar__close-icon js-sidebar__close-icon">{{ source('@svgs/sidebar-close-icon.svg') }}</div>
  <div class="sidebar__container js-sidebar__container"></div>
</div>
