$c-red: #af1f45; // Primary Color. Used for links
$c-blue: #288dc1;
$c-purple: #644b78;
$c-orange: #ff9e16;
$c-orange-pager: #ef4416;
$c-blue-dark: #1e1e27;

$c-white: white;
$c-gray--lightest: hsl(0, 0%, 89%);
$c-gray--lighter: hsl(0, 0%, 80%);
$c-gray--light: hsl(0, 0%, 60%);
$c-gray: #58595b;
$c-gray--dark: hsl(0, 0%, 40%);
$c-gray--darker: hsl(0, 0%, 20%);
$c-gray--darkest: hsl(0, 0%, 16.1%);
$c-black: black;
$c-transparent: transparent;

@mixin linear-gradient($color1, $color2, $type: 180deg) {
  background: linear-gradient($type, $color1 0%, $color2 100%);
}