.event-grid {
  &__wrapper {
    @include site-container();
  }

  header {
    @include site-container();
    text-align: center;
    h3 {
      margin: 0;
      padding: ($spacing--l * 3) 0 $spacing--l;
    }
    p {
      padding: $spacing--l 0 ($spacing--l * 3);
    }
  }

  .smart-grid[data-row-items-large="3"] > * {
    margin-bottom: ($spacing--l * 4);
  }
}
