// vars
$level-1-color: #bbb;
$level-1-bg-color: mix($level-1-color, #fff, 10%);
$level-2-color: #888;
$level-2-bg-color: mix($level-2-color, #fff, 10%);
$level-3-color: #666;
$level-3-bg-color: mix($level-3-color, #fff, 10%);

$default-icon-color: #b0b0b0;
$delete-color: #F96059;
$edit-color: #28C940;
$collapse-color: #F9BD2E;

$paragraphs-topbar-bg-color: #eee;

$paragraphs-previewer-link-color: #0074bd;
$table-bg-color: #fcfcfa;
$table-bg-color-hover: #f7fcff;
$table-border-color: #e6e4df;
$adminimal-button-border-color: #a6a6a6;

$paragraphs-save-warning-color: #e72b2b;

$ajax-loader: '../../images/svg/loader.svg';




@function edit-icon($icon-color) {
  @return svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
<g fill="#{$icon-color}">
		<rect x="178.846" y="92.087" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 224.3476 631.1498)" width="128.085" height="354.049"/>
	<path d="M471.723,88.393l-48.115-48.114c-11.723-11.724-31.558-10.896-44.304,1.85l-45.202,45.203l90.569,90.568l45.202-45.202
		C482.616,119.952,483.445,100.116,471.723,88.393z"/>
	<polygon points="64.021,363.252 32,480 148.737,447.979 	"/>
</g>
</svg>');
}

@function collapse-icon($icon-color) {
  @return svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
<rect fill="#{$icon-color}" x="64" y="224" width="384" height="64"/>
  </svg>');
}

@function delete-icon($icon-color) {
  @return svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
<g fill="#{$icon-color}">
	<path d="M413.7,133.4c-2.4-9-4-14-4-14c-2.6-9.3-9.2-9.3-19-10.9l-53.1-6.7c-6.6-1.1-6.6-1.1-9.2-6.8c-8.7-19.6-11.4-31-20.9-31
		h-103c-9.5,0-12.1,11.4-20.8,31.1c-2.6,5.6-2.6,5.6-9.2,6.8l-53.2,6.7c-9.7,1.6-16.7,2.5-19.3,11.8c0,0-1.2,4.1-3.7,13
		c-3.2,11.9-4.5,10.6,6.5,10.6h302.4C418.2,144.1,417,145.3,413.7,133.4z"/>
	<path d="M379.4,176H132.6c-16.6,0-17.4,2.2-16.4,14.7l18.7,242.6c1.6,12.3,2.8,14.8,17.5,14.8h207.2c14.7,0,15.9-2.5,17.5-14.8
		l18.7-242.6C396.8,178.1,396,176,379.4,176z"/>
</g>
</svg>');
}


//@mixin edit-icon($icon-color) {
//  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
//<g fill="#{$icon-color}">
//		<rect x="178.846" y="92.087" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 224.3476 631.1498)" width="128.085" height="354.049"/>
//	<path d="M471.723,88.393l-48.115-48.114c-11.723-11.724-31.558-10.896-44.304,1.85l-45.202,45.203l90.569,90.568l45.202-45.202
//		C482.616,119.952,483.445,100.116,471.723,88.393z"/>
//	<polygon points="64.021,363.252 32,480 148.737,447.979 	"/>
//</g>
//</svg>');
//}
//
//@mixin collapse-icon($icon-color) {
//  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
//<rect fill="#{$icon-color}" x="64" y="224" width="384" height="64"/>
//  </svg>');
//}
//
//@mixin delete-icon($icon-color) {
//  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px">
//<g fill="#{$icon-color}">
//	<path d="M413.7,133.4c-2.4-9-4-14-4-14c-2.6-9.3-9.2-9.3-19-10.9l-53.1-6.7c-6.6-1.1-6.6-1.1-9.2-6.8c-8.7-19.6-11.4-31-20.9-31
//		h-103c-9.5,0-12.1,11.4-20.8,31.1c-2.6,5.6-2.6,5.6-9.2,6.8l-53.2,6.7c-9.7,1.6-16.7,2.5-19.3,11.8c0,0-1.2,4.1-3.7,13
//		c-3.2,11.9-4.5,10.6,6.5,10.6h302.4C418.2,144.1,417,145.3,413.7,133.4z"/>
//	<path d="M379.4,176H132.6c-16.6,0-17.4,2.2-16.4,14.7l18.7,242.6c1.6,12.3,2.8,14.8,17.5,14.8h207.2c14.7,0,15.9-2.5,17.5-14.8
//		l18.7-242.6C396.8,178.1,396,176,379.4,176z"/>
//</g>
//</svg>');
//}